body {
	margin: 10;
	padding: 5;
	font-size: 15px;
	line-height: 100%;
	font-family: Helvetica; 
	color:99999

}

html {
background-image:url("../Images/cork-wallet.png")

}

footer{

	border-top-style: solid;
	border-top-color: #4aaaa5;
	border top-width: 100px;

}

 header{

	background: #333333;
	padding: 2px 0;
	color: #ffffff;
	margin: 30;
	font-size: 28px;
	text-align: center;
	margin-bottom: 0px;
}


footer{

	background: #666666;
	padding: 20px 0;
	color: #999999;
	margin: 0;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px
	inset 100
}


}
